*.class
*.log
/count-divisors-assignment/count-divisors/.bsp/*
/count-divisors-assignment/count-divisors/.idea/*
/count-divisors-assignment/count-divisors/project/target/*
/count-divisors-assignment/count-divisors/target/*
/toggle-string-assignment/project/target/*
/toggle-string-assignment/.bsp/*
/toggle-string-assignment/.idea/*
/toggle-string-assignment/target/*
/count-divisors-assignment/count-divisors/project/*
